.container-principal2,
.container-principal {
  max-width: 1140px;
  margin: 0 auto;
}

.container-principal2 img,
.container-principal img {
  border-radius: 16px;
  width: 100%;
}

.divisao {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 56px;
  align-items: center;
  padding-top: 128px;
}

.divisao2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 56px;
  padding-top: 128px;
  gap: 32px;
}

.divisao2 img {
  background-size: cover;
  background-position: center;
}

.divisao p {
  max-width: 300px;
  font-family: "Quicksand", sans-serif;
  color: var(--cinza);
}

.divisao2 h1,
.divisao h1 {
  font-family: "Ysabeau", sans-serif;
  font-size: 64px;
  text-transform: uppercase;
  letter-spacing: -4;
}

.divisao h1 {
  line-height: 0px;
}

.divisao2 {
  line-height: 50px;
}

.font1 {
  color: var(--preto);
}

.font2 {
  color: var(--bege);
}

.texto-sublinhado {
  display: inline-block;
  border-bottom: 1px solid var(--cinza);
  padding-bottom: 4px;
}

.botao {
  display: flex;
  justify-content: center;
  align-items: center;
}

.botao-fale-conosco {
  margin-top: 64px;
  font-weight: 100;
  font-size: 16px;
  background-color: var(--bege);
  display: block;
  text-align: center;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  color: var(--branco);
  transition: background-color 0.4s ease, transform 0.3s ease;
}

.botao-fale-conosco:hover {
  background-color: var(--begeclaro);
  transform: scale(1.05);
}

@media (max-width: 960px) {
  .divisao2,
  .divisao {
    padding-top: 56px;
    margin-bottom: 32px;
    grid-template-columns: 1fr;
  }
  .divisao h1 {
    font-size: 64px;
    line-height: 50%;
    letter-spacing: -8;
  }
  .divisao p {
    padding-top: 32px;
    font-size: 16px;
  }
  .numeros p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .divisao h1 {
    font-size: 36px;
    letter-spacing: -4px;
    line-height: 16px;
  }
  .divisao2 h1 {
    font-size: 36px;
    letter-spacing: -4px;
    line-height: 0px;
    margin-bottom: 32px;
    margin-top: 32px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .divisao h1 {
    font-size: 52px;
    line-height: 50%;
    letter-spacing: -8;
  }
  .divisao2 h1 {
    font-size: 52px;
    line-height: 12px;
    margin-bottom: 32px;
    margin-top: 32px;
    gap: 32px;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .divisao {
    padding-top: 56px;
    margin-bottom: 32px;
  }
  .divisao2 h1 {
    font-size: 64px;
  }
  .divisao2 {
    gap: 32px;
  }
}

@media (min-width: 1201px) and (max-width: 1900px) {
}
