header {
  position: relative;
  z-index: 10;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  padding: 32px;
}

.logo {
  position: absolute;
  left: 16px;
}

.nav-links {
  display: flex;
  gap: 80px;
  list-style: none;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 12px;
  transition: background 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
  box-sizing: border-box;
  border: 1px solid transparent;
  font-family: "Quicksand", sans-serif;
}

.nav-links li a:hover {
  background: rgba(255, 255, 255, 0.33);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.hamburger {
  display: none;
  font-size: 26px;
  background: none;
  border: none;
  color: var(--branco);
  cursor: pointer;
}

@media (max-width: 1200px) {
  .hamburger {
    display: block;
  }
  .nav-links {
    position: absolute;
    top: 70px;
    flex-direction: column;
    gap: 34px;
    padding: 32px;
    display: none;
    z-index: 200;
    border-radius: 16px;
    align-items: center;
    background-color: var(--branco);
  }
  .nav-links li a:hover {
    color: var(--pretoclaro);
  }
  .nav-links li a {
    background: transparent;
    color: var(--cinza);
  }
  .nav-links.active {
    display: flex;
  }
  .logo img {
    width: 20px;
  }
  .nav {
    padding: 16px;
  }
}
